@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .cta-btn {
    @apply bg-steel-blue py-4 px-5 rounded-md font-inter font-bold text-white text-base;
  }

  .primary-btn {
    @apply bg-steel-blue p-2.5 rounded-lg font-inter font-medium text-white text-base;
  }

  .secondary-btn {
    @apply bg-white p-2 rounded-lg font-inter font-medium text-steel-blue text-base border-2 border-steel-blue;
  }

  .tertiary-btn {
    @apply bg-steel-blue p-2 rounded-lg font-inter font-bold uppercase text-sm text-white;
  }

  .body {
    @apply font-inter text-sm font-normal;
  }

  .heading-1 {
    @apply font-inter text-3xl font-black;
  }

  .heading-2 {
    @apply font-inter font-extrabold text-xl;
  }

  .subheading-1 {
    @apply font-inter font-bold text-base;
  }


}; 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
